@import '~bootstrap/scss/bootstrap';
@import 'dashboard';
// @import 'registerForm';
@import 'customUpload';
@import 'checkCustom';
@import 'show';
@import 'message';
@import 'sponsor';
@import 'register_login';
@import 'menu';
@import 'profileDash';
@import 'edit';
@import 'form';
@import 'review';



$background: #1D1F21;
$primary: #FF6600;
$Accent: #F5F5F5;
$Text: #FFFFFF;

/* Forza il colore dello sfondo anche quando è autocompletato */

* {
    font-family: 'Chakra Petch', sans-serif;
}

a{
    text-decoration: none;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: flex;
    justify-content: center;
}

.welcomeText {
    color: #fff;
}

.gradient-background  {
    background: linear-gradient(132deg, #ff965b, #f66d68, #67bbf5, #ff816c, #67bbf5);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 24s ease infinite;
    -moz-animation: AnimationName 24s ease infinite;
    animation: AnimationName 24s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

//per colorare il calendarietto di bianco nel input data
input {
    color-scheme: dark;
}

.homeContainer{
    position: absolute;
    z-index: 3;
    padding: 1rem;
}

.homeIcon{
    width: 50px;
}

.btnLanguage{
    background-color: rgba(255, 255, 255, 0.161);
}

.succesLoginAllert{
    // background-color: #67bbf5!important;
    position: absolute;
    top: 13px;
    right: 10px;
}

.toast-header{
    background-color: #67bbf5!important;
}


.logo {
    width: 100px;
}

.logoBig {
    width: 50%;
}


.walpaperHome {
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
}

.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 114%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

////////////////////////////////////////

.btnCustomGo {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
}


.btnCustomGo>div,
button>.svgBtnCustomGoClone {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.btnCustomGo:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

.btnCustomGo:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btnCustomGo .clone>*,
btnCustomGo .btnCustomGoText>* {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}

.btnCustomGo .btnCustomGoClone>* {
    transform: translateY(60px);
}

.btnCustomGo:hover .btnCustomGoClone>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btnCustomGo:hover .btnCustomGoText>* {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btnCustomGo:hover .btnCustomGoClone> :nth-child(1) {
    transition-delay: 0.15s;
}

.btnCustomGo:hover .btnCustomGoClone> :nth-child(2) {
    transition-delay: 0.2s;
}

.btnCustomGo:hover .btnCustomGoClone> :nth-child(3) {
    transition-delay: 0.25s;
}

.btnCustomGo:hover .btnCustomGoClone> :nth-child(4) {
    transition-delay: 0.3s;
}

/* icon style and hover */
.btnCustomGo svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

.btnCustomGo:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}

.toast-header .btn-close{
        color: white!important;
        fill: white;
}
