.bgCard{
    background-color: #c2eafe;
}


.paymentBox{
    max-width: 800px;
}

.paymentFormInput{
    height: 40px;
    margin-bottom: 5px;
    box-shadow: none !important;
    border-radius: 0 !important;
    color: black !important;
}

.expirationDate{
    color: black !important;
}
