// BG //
.gradient-background-blue{
    background: linear-gradient(335deg,deepskyblue,#80e4ff,#1a42c6);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .sectionBg{
    background-color: #fcb457;
    border-radius: 10px;
  }

  .orangeBg{
    background-color: #fcb457;
  }

  .lightBg{
    background-color: white;
  }

  .blueBg{
    color: 40b4ff;
  }

  // IMG //
  .imgPosition{
    left:8%;
    bottom:70px;
  }
  // TEXT COLOR //
  .orangeText{
    color: #fcb457;
  }

  .blueText{
    color: #40b4ff;
  }

  .mandarinText{
    color: #f87865;
  }






